# =========================
# DATA
# =========================

data/raw/
data/processed/

# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# VIRTUAL ENVIRONMENTS
# =========================

.venv/
venv/
env/

# =========================
# GOOGLE COLAB
# =========================

.drive/

# =========================
# MODELS
# =========================

models/*.pkl
models/*.joblib

# =========================
# OUTPUTS
# =========================

outputs/predictions/
outputs/figures/

# =========================
# OPERATING SYSTEM
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE
# =========================

.vscode/
.idea/
